.trigger-link-wrap {
  margin-top: 1.5rem;
}

.trigger-link {
  background: linear-gradient(
    45deg,
    var(--color-mint),
    var(--color-lavender),
    var(--color-sky),
    var(--color-aqua)
  );
  border-radius: 0.5rem;
  padding: 0.5rem 1.25rem;
  font-size: 1.25rem;
  text-decoration: none;
  color: inherit;
}

@media (min-width: 768px) {
  .trigger-link {
    padding: 0.75rem 1.75rem;
    font-size: 1.5rem;
  }
}
