.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-1 {
  flex: 1 1 auto;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.items-baseline {
  align-items: baseline;
}

.gap-0 {
  gap: 0;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.object-cover {
  object-fit: cover;
}

.m-0 {
  margin: 0;
}

.mt-2 {
  margin-top: 0.5rem;
}

.p-0 {
  padding: 0;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.w-auto {
  width: auto;
}

.ml-auto {
  margin-left: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.w-full {
  width: 100%;
}

.max-w-full {
  max-width: 100%;
}

.min-w-0 {
  min-width: 0;
}

.min-h-0 {
  min-height: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-sm {
  border-radius: 0.35rem;
}

.align-middle {
  vertical-align: middle;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.font-style-normal {
  font-style: normal;
}

.font-normal {
  font-weight: 400;
}

.block {
  display: block;
}

.list-none {
  list-style: none;
}

.pointer-events-none {
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

.grid {
  display: grid;
}

@media (min-width: 768px) {
  .lg-flex {
    display: flex;
  }

  .lg-flex-col {
    flex-direction: column;
  }

  .lg-flex-row {
    flex-direction: row;
  }

  .lg-block {
    display: block;
  }

  .lg-hidden {
    display: none;
  }

  .lg-gap-2 {
    gap: 0.5rem;
  }
}
